body {
  width: 1000px;
  height: 610px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: linear-gradient(180deg, #393359 0%, #000000 100%);
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*HEADERS*/
.startBtn,
.playBtn,
.triviaNo,
.categoryTxt,
.choiceBtn,
.choiceWrong,
.choiceRight,
.resultTxt {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

.choiceBtn,
.choiceWrong,
.choiceRight {
  color: #ffffff;
  mix-blend-mode: lighten;
  opacity: 0.75;
}

.triviaNo {
  text-transform: uppercase;

  background: linear-gradient(
    180deg,
    #ffffff 25.27%,
    #e088ff 64.28%,
    #4967b4 84.13%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.categoryTxt {
  letter-spacing: 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
}

.spinAgainBtn,
.triviaTxt {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

/*END OF HEADERS*/

/*Button Override*/
button {
  padding: 0px;
  border-width: 0.3px;
}
/*End of Button Override*/

/*BUTTONS*/
.startBtn {
  font-size: larger;
  color: #ffffff;
  mix-blend-mode: lighten;
  opacity: 0.75;
  background: linear-gradient(
    180deg,
    #ff96db 0%,
    #223c8f 97.4%,
    rgba(44, 102, 171, 0) 100%
  );
  mix-blend-mode: lighten;
  border-radius: 50px;
  width: 135px;
  height: 35px;
  line-height: 30px;
  margin-bottom: 15px;
}

.spinAgainBtn {
  font-size: larger;
  background: linear-gradient(
    180deg,
    rgba(201, 201, 201, 0.75) 0%,
    rgba(180, 180, 181, 0) 51.56%,
    rgba(255, 255, 255, 0.375) 100%
  );
  mix-blend-mode: lighten;
  border-radius: 50px;
  width: 135px;
  height: 35px;
  line-height: 30px;
  opacity: 70%;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.choiceBtn {
  background: linear-gradient(
    180deg,
    #223c8f 0%,
    rgba(44, 102, 171, 0) 51.56%,
    rgba(109, 97, 255, 0.5) 100%
  );
  mix-blend-mode: lighten;
  border-radius: 50px;
  width: 45%;
  height: 40px;
  line-height: 40px;
  opacity: 65%;
  margin: 15px auto;
  font-size: 18px;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.choiceRight {
  background: linear-gradient(
    180deg,
    #00f0ff 0%,
    rgba(0, 255, 240, 0.22) 51.56%,
    rgba(0, 255, 240, 0.5) 100%
  );
  mix-blend-mode: lighten;
  border-radius: 50px;
  width: 45%;
  height: 40px;
  line-height: 40px;
  opacity: 65%;
  margin: 15px auto;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choiceWrong {
  background: linear-gradient(
    180deg,
    #8f2222 0%,
    rgba(171, 44, 44, 0) 51.56%,
    rgba(255, 97, 97, 0.5) 100%
  );
  mix-blend-mode: lighten;
  border-radius: 50px;
  width: 45%;
  height: 40px;
  line-height: 40px;
  opacity: 65%;
  margin: 15px auto;
  font-size: 18px;
  animation: horizontal-shaking 0.3s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.choiceDisabled {
  cursor: not-allowed;
  pointer-events: none;
}

.playBtn {
  font-size: larger;
  background: linear-gradient(
    180deg,
    rgba(71, 255, 222, 0.46) 0%,
    rgba(71, 255, 222, 0.58) 100%
  );
  mix-blend-mode: lighten;
  border-radius: 50px;
  width: 160px;
  height: 35px;
  line-height: 30px;
  letter-spacing: 1.2px;
  font-weight: bold;
  color: #ffffff;
}

/*END OF BUTTONS*/

/*TEXT*/
.triviaTxt {
  font-size: 22px;
  padding-top: 15px;
}

.triviaNo {
  font-size: 35px;
}

.resultTxt {
  background: linear-gradient(
    180deg,
    #ffffff 25.27%,
    #e088ff 64.28%,
    #4967b4 84.13%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 150px;
  margin: 25px;
}
/*END OF TEXT*/

.screen {
  height: 610px;
  text-align: center;
  padding: 10px 25px;
}

nav {
  margin-bottom: 65px;
}

.icon {
  width: 45px;
  height: 45px;
  left: 10px;
  top: 38px;
  border-radius: 50px;
  line-height: 45px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #25213a;
  float: right;
  margin: 7px;

  background: radial-gradient(
        48.46% 48.46% at 97.37% 88.65%,
        #3f52ff 0%,
        rgba(63, 82, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
      95.76% 95.76% at 12.18% 75.39%,
      #ffffff 23.94%,
      #ffcef1 41.01%,
      #b6b9ff 67.49%,
      #ffa8e7 86.12%,
      #ffffff 100%
    );
}

.triviaFrame {
  width: 65%;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 15px;
  justify-content: center;

  background: rgba(255, 255, 255, 0.03);
  box-shadow: inset 0px 4.77893px 4.77893px rgba(255, 255, 255, 0.16),
    inset 0px 0px 38.2314px rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(32.2578px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 35.2217px;
  transform: rotate(0.35deg);
}

.resultMsg {
  font-family: "Nunito", sans-serif;
  font-style: bolder;
  font-size: 60px;
  text-transform: uppercase;
  width: 875px;
  background: linear-gradient(
    180deg,
    #c994ff 12.6%,
    rgba(94, 207, 255, 0.6) 92.7%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 5px 0;
}

/*MENU BUTTONS*/
.menuBtn {
  /*font style, font size, font shadow, btn size*/
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 45px;
  border-radius: 50px;
  margin: 10px;
}

.howToPlay {
  background: linear-gradient(
    180deg,
    #5effc5 0%,
    rgba(94, 255, 168, 0.08) 51.56%,
    rgba(124, 255, 200, 0.8) 100%
  );
  mix-blend-mode: soft-light;
}

.references {
  background: linear-gradient(
    180deg,
    #5effc5 0%,
    rgba(255, 94, 239, 0.08) 51.56%,
    rgba(255, 124, 211, 0.8) 100%
  );
  mix-blend-mode: lighten;
}

.quit {
  background: linear-gradient(
    180deg,
    rgba(255, 124, 211, 0.8) 0%,
    rgba(255, 94, 239, 0.08) 51.56%,
    rgba(5, 0, 255, 0.5) 100%
  );
  mix-blend-mode: lighten;
}
/*END OF MENU BUTTONS*/
