body {
  width: 1000px;
  height: 610px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: linear-gradient(180deg, #393359 0%, #000000 100%);
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*HEADERS*/
.startBtn,
.triviaNo,
.categoryTxt,
.choiceBtn,
.choiceWrong,
.choiceRight {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

.startBtn,
.choiceBtn,
.choiceWrong,
.choiceRight {
  color: #ffffff;
  mix-blend-mode: lighten;
  opacity: 0.75;
}

.triviaNo {
  background: linear-gradient(
    180deg,
    #8aa4ff 12.6%,
    rgba(67, 101, 219, 0) 81.44%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.categoryTxt {
  letter-spacing: 25px;
  color: #ffffff;
}

.spinAgainBtn,
.triviaTxt {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

/*END OF HEADERS*/

/*Button Override*/
button {
  padding: 0px;
  border-width: 0.3px;
}
/*End of Button Override*/

/*BUTTONS*/
.startBtn {
  background: linear-gradient(
    180deg,
    #ff96db 0%,
    #223c8f 97.4%,
    rgba(44, 102, 171, 0) 100%
  );
  mix-blend-mode: lighten;
  border-radius: 50px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
}

.spinAgainBtn {
  background: linear-gradient(
    180deg,
    rgba(201, 201, 201, 0.75) 0%,
    rgba(180, 180, 181, 0) 51.56%,
    rgba(255, 255, 255, 0.375) 100%
  );
  mix-blend-mode: lighten;
  border-radius: 50px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  opacity: 70%;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.choiceBtn {
  background: linear-gradient(
    180deg,
    #223c8f 0%,
    rgba(44, 102, 171, 0) 51.56%,
    rgba(109, 97, 255, 0.5) 100%
  );
  mix-blend-mode: lighten;
  border-radius: 50px;
  width: 40%;
  height: 30px;
  line-height: 30px;
  opacity: 65%;
}

.choiceWrong {
  background: linear-gradient(
    180deg,
    #8f2222 0%,
    rgba(171, 44, 44, 0) 51.56%,
    rgba(255, 97, 97, 0.5) 100%
  );
  mix-blend-mode: lighten;
  border-radius: 50px;
  width: 40%;
  height: 30px;
  line-height: 30px;
  opacity: 65%;
}

.choiceRight {
  background: linear-gradient(
    180deg,
    #00f0ff 0%,
    rgba(0, 255, 240, 0.22) 51.56%,
    rgba(0, 255, 240, 0.5) 100%
  );
  mix-blend-mode: lighten;
  border-radius: 50px;
  width: 40%;
  height: 30px;
  line-height: 30px;
  opacity: 65%;
}
/*END OF BUTTONS*/

/*TEXT*/
.triviaTxt {
  font-size: 25px;
}

.triviaNo {
  font-size: 40px;
}
/*END OF TEXT*/

.screen {
  height: 610px;
  text-align: center;
}

.triviaFrame {
  position: absolute;
  left: 5.21%;
  right: 5.09%;
  top: 22.56%;
  bottom: 39.39%;
  width: 65%;
  margin-left: auto;
  margin-right: auto;

  background: rgba(255, 255, 255, 0.03);
  box-shadow: inset 0px 4.77893px 4.77893px rgba(255, 255, 255, 0.16),
    inset 0px 0px 38.2314px rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(32.2578px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 51.2217px;
  transform: rotate(0.35deg);
}
